body{
  margin: 0;
  text-align: center;
  font-family: monospace;
  font-family: 'Merriweather', serif;
  }

a{
  color: #11999E;
}

h1{
  line-height: 2;
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 2.6rem auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

div {

}

.top-container{
  background-color: #ccf2f4;
  position: relative;
  padding-top: 100px;
}

.midle-container{

}

.bottom-container{

}
.pro{
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
position: absolute;
left: 300px;
bottom: 300px;
}
